<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$BLOJSOM_BLOG.getBlogLanguage()">
	<head>
		#parse("tikke-head.vm")
	</head>
	<body>
		<div id="ivo"></div>
		<div id="main">
			<!-- Header -->
			#parse("tikke-header.vm")
			<!-- Content -->
			<div id="contentBodyLeft">
				<div id="content">
					<!-- Entries -->
					<div id="entries">
						#set($entryDate = "")
						#set($totalEntries = 0)
						#foreach($entry in $BLOJSOM_ENTRIES)
							#parse("tikke-entry.vm")
						#end
					</div>
					<div id="column">
						#parse("tikke-column.vm")
					</div>
				</div>
				<div class="clear">&nbsp;</div>
			</div>
			<!-- Footer-->
			#parse("tikke-footer.vm")
		</div>
	</body>
</html>

