<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$BLOJSOM_BLOG.getBlogLanguage()">
	<head>
		#parse("yeve-head.vm")
	</head>
	<body>
		<div id="ivo"></div>
		<div id="main">
			<!-- Header -->
			#parse("yeve-header.vm")
			<!-- Content -->
			<div id="contentBodyLeft">
				<div id="content">
					<!-- Entries -->
					<div id="entries">
						#set($entryDate = "")
						#set($totalEntries = 0)
						#foreach($entry in $BLOJSOM_ENTRIES)
							#parse("yeve-entry.vm")
							<div id="comments">
								#set( $totalComments = 0 )
								#foreach ($entryComment in $entry.getComments())
									#if ($totalComments == 0)
										<h3>Comments on this entry:</h3>
									#else
										<div class="commentDivider">&nbsp;</div>
									#end
									<div class="comment">
										<div class="info">Left by <span class="author">#if($entryComment.getAuthorURL() && $entryComment.getAuthorURL().length() > 0)<a href="$entryComment.getAuthorURL()">$entryComment.getAuthor()</a>#else$entryComment.getAuthor()#end</span> at $entryComment.getDateAsFormat("EEE, d MMM h:mm a")</div>
										<p class="post">$entryComment.getComment()</p>
									</div>
									#set( $totalComments = $totalComments + 1)
								#end
							</div>
						#end
					</div>
					<div id="column">
						#parse("yeve-column.vm")
					</div>
				</div>
				<div class="clear">&nbsp;</div>
			</div>
			<!-- Footer-->
			#parse("yeve-footer.vm")
		</div>
	</body>
</html>

